<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>{{ appName }}</title>
      <meta name="csrf-token" content="{{ csrf }}" />
    <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/dataTables.css" rel="stylesheet" />
  <link href="/css/toastify.min.css" rel="stylesheet" />
  <link href="/css/markdown-content.css" rel="stylesheet" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
    integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <link rel="icon" href="/img/logomark-blue.svg" />
</head>
