<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/alpine.js"></script>
<script src="/js/htmx.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/dataTables.js"></script>
<script src="/js/toastify-js.js"></script>
<script src="/js/session-timeout.js"></script>