services:
  # Node.js Application
  app:
    build: .
    container_name: omniflow-express-starter
    env_file:
      - .env
    environment:
      DOCKER_ENV: "true"
    ports:
      - "${PORT:-1234}:${PORT:-1234}"
      - "9096:9096"
    volumes:
      - ./logs:/app/logs

    networks:
      - omniflow_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${PORT:-1234}/health"]
      timeout: 10s
      retries: 3
      interval: 30s
      start_period: 60s
    logging:
      driver: loki
      options:
        loki-url: "${LOKI_URL:-http://100.127.148.109:3100/loki/api/v1/push}"
        mode: non-blocking
        max-buffer-size: "${LOKI_MAX_BUFFER_SIZE:-10m}"

networks:
  omniflow_network:
    driver: bridge