<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted d-flex align-items-center justify-content-center">
        Hak Cipta &copy; {{ appName.replace(' (Dev)', '') }} {{ currentYear }}
        {% if isDevelopment %}
          <span class="badge bg-warning text-dark ms-2 small">DEVELOPMENT MODE</span>
        {% elif isProduction %}
          <span class="badge bg-success text-white ms-2 small">PRODUCTION MODE</span>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
