<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <a
        class="nav-link {% if url == '/admin' or url == '/admin/' %}active{% endif %}"
        href="/admin"
      >
        Beranda
      </a>
      <a
        class="nav-link {% if url.includes('/admin/profile') %}active{% endif %}"
        href="/admin/profile"
      >
        Profile
      </a>
      <a
        class="nav-link {% if url.includes('/admin/overview') or url.includes('/admin/submodule') %}{% else %}collapsed{% endif %}"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#collapseLayouts"
        aria-expanded="{% if url.includes('/admin/overview') or url.includes('/admin/submodule') %}true{% else %}false{% endif %}"
        aria-controls="collapseLayouts"
      >
        Modul
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <div
        class="collapse {% if url.includes('/admin/overview') or url.includes('/admin/submodule') %}show{% endif %}"
        id="collapseLayouts"
        aria-labelledby="headingOne"
        data-bs-parent="#sidenavAccordion"
      >
        <nav class="sb-sidenav-menu-nested nav">
          <a
            class="nav-link {% if url.includes('/admin/overview') %}active{% endif %}"
            href="/admin/overview"
            >Gambaran Umum</a
          >
          <a
            class="nav-link {% if url.includes('/admin/submodule') %}active{% endif %}"
            href="/admin/submodule"
            >Sub Modul</a
          >
        </nav>
      </div>
      {% if user.role in ['Admin', 'Manager'] %}
      <!-- User -->
      <a
        class="nav-link {% if url.includes('/admin/user') %}{% else %}collapsed{% endif %}"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#collapseLayoutsUser"
        aria-expanded="{% if url.includes('/admin/user') %}true{% else %}false{% endif %}"
        aria-controls="collapseLayoutsUser"
      >
        User
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <div
        class="collapse {% if url.includes('/admin/user') %}show{% endif %}"
        id="collapseLayoutsUser"
        aria-labelledby="headingOne"
        data-bs-parent="#sidenavAccordion"
      >
        <nav class="sb-sidenav-menu-nested nav">
          <a
            class="nav-link {% if url.includes('/admin/user/overview') %}active{% endif %}"
            href="/admin/user/overview"
            >Gambaran Umum</a
          >
          <a
            class="nav-link {% if url.includes('/admin/user/index') %}active{% endif %}"
            href="/admin/user/index"
            >User</a
          >
        </nav>
      </div>

      {% if user.role == 'Admin' %}
      <!-- Cache -->
      <a
        class="nav-link {% if url.includes('/admin/cache') %}active{% endif %}"
        href="/admin/cache/stats"
      >
        Cache
      </a>

      <!-- Queue -->
      <a
        class="nav-link {% if url.includes('/admin/queue') %}active{% endif %}"
        href="/admin/queue"
      >
        Queue
      </a>
      {% endif %}

      <!-- Log -->
      <a
        class="nav-link {% if url.includes('/admin/log') %}active{% endif %}"
        href="/admin/log/index"
      >
        Log
      </a>
      {% endif %}
    </div>
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">Masuk sebagai:</div>
    <span class="fw-bold">{{ user.username }}</span>
  </div>
</nav>
