{% extends "layout/masterLayout.njk" %} {% block content %}
<div class="container-fluid px-4">
  <h1 class="mt-4">{{ pageTitle or 'Dashboard' }}</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
      {{ greeting }} {{ welcome }}
    </li>
  </ol>
  <div class="row">
    <h1>{{ greeting }} {{ user.full_name }} {{ dashboard.title }}</h1>
  </div>
</div>

{% endblock %}
