{% extends "layout/masterLayout.njk" %} {% block content %}
<div class="container-fluid px-4">
  <h1 class="mt-4">{{ dashboard.overview or 'Overview' }}</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ overview.pageTitle or 'Overview Page' }}</li>
  </ol>
  <div class="row">
    <h1>{{ overview.welcome or 'Welcome to Overview' }}</h1>
  </div>
</div>

{% endblock %}
