<!DOCTYPE html>
<html lang="{{ currentLang or 'id' }}">
  {% include "includes/head.njk" %}
  <body>
    <main>
      {% include "components/alert_flash_message.njk" %} 
      {% block content %}
      {% endblock %}
    </main>
    <script src="/js/networkGuard.js"></script>
    {% include "includes/script.njk" %} 
    {% block scripts %} 
    {% endblock %}
  </body>
</html>
